@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

SADINAL

File:			template.css
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2016

************************************************************************************************************************ */

/* ---------- General ---------- */

@font-face {
	font-family: "Myriad Pro Regular";
	src: url(fonts/MyriadPro-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: url(../images/bg.png) repeat-x;
	font-family: "Myriad Pro Regular";
	font-size: 14px;
	color: #5d5d5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Myriad Pro Regular";
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	color: #c1272d;
	text-decoration: none;
}

a:hover {
	color: #c1272d;
	text-decoration: underline;
}

img {
	border: none;
}

/* ---------- Template ---------- */

/* Top */

.top {
	width: 945px;
	margin: auto;
}

.moduletable_t1 {
	padding: 30px 0;
	float: left;
	position: relative;
}

.moduletable_t2 {
	padding: 0 25px;
	float: left;
	position: relative;
}

ul.menu_main {
	margin: 0;
	font-size: 0;
	list-style: none;
	display: block;
	z-index: 100;
}

ul.menu_main li {
	background: url(../images/menu_main_li_bg.png) no-repeat;
	background-position: right;
	font-size: 0;
	white-space: nowrap;
	float: left;
	position: relative;
	z-index: 100;
}

ul.menu_main li:last-child {
	background: none;
}

ul.menu_main li:hover {
	position: relative;
}

ul.menu_main li:hover>* {
	display: block;
}

ul.menu_main a {
	padding: 58px 25px;
	font-family: "Myriad Pro Regular";
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	display: block;
	-webkit-transition: background-color 0.6s;
	transition: background-color 0.6s;
	z-index: 100;
}

ul.menu_main li.active a,
ul.menu_main a:hover {
	background-color: #c1272d;
	color: #fff;
	text-decoration: none;
}

ul.menu_main ul {
	margin: 0;
	padding: 5px;
	top: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	position: absolute;
	z-index: 100;
}

ul.menu_main ul li {
	float: none;
	z-index: 100;
}

ul.menu_main ul a {
	min-width: 160px;
	margin: 5px;
	padding: 5px;
	background-color: #e6e6e6;
	z-index: 100;
}

ul.menu_main ul a:hover {
	background-color: #29abe2;
	color: #fff;
}

ul.menu_main ul ul {
	top: 0;
	left: 100%;
	position: absolute;
	z-index: 100;
}

.moduletable_t3 {
	float: right;
	position: relative;
}

.moduletable_t3 label {
	display: none;
}

.moduletable_t3 input[type="search"] {
	width: 180px;
	margin: 50px 0;
	background: url(../images/moduletable_t3_input_bg.png) no-repeat #fff;
	background-position: right;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* Banner */

.banner {
	width: 945px;
	height: 375px;
	margin: auto;
}

.moduletable_ba1,
.custom_ba1 {}

/* Component */

.component {
	width: 945px;
	margin: auto;
	padding: 20px 0;
}

.component .columns {
	padding: 0;
}

/* Left */

.moduletable_l1 {
	margin-right: 10px;
}

.moduletable_l1 h3 {
	margin: 0;
	padding: 10px;
	background-color: #c1272d;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#je_accord103 li {
	margin: 4px 0 !important;
}

#je_accord103 a {
	padding: 10px;
	background: url(../images/je_accord103_a_bg.png) repeat-y !important;
	border: 1px solid #e6e6e6 !important;
	font-family: "Myriad Pro Regular";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Home */

.home {}

.moduletable_h1 {
	min-width: 945px;
	background-color: #f2f2f2;
}

.moduletable_h1 h3 {
	max-width: 210px;
	margin: auto;
	margin-bottom: 15px;
	padding: 10px 0;
	background-color: #5d5d5d;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

div#djslider90 {
	max-width: 945px;
	margin-bottom: 15px;
}

ul#slider90 li {
	padding: 10px !important;
	background-color: #fff !important;
}

ul#slider90 li div.slide-desc {}

ul#slider90 li div.slide-desc div.slide-desc-bg {
	background-color: rgba(255, 255, 255, 0.8);
}

ul#slider90 li div.slide-desc div.slide-desc-text {
	padding: 5px;
}

ul#slider90 li div.slide-desc div.slide-desc-text div.slide-title {
	margin: 0;
	font-size: 18px;
	color: #c1272d;
	text-align: center;
}

.moduletable_h2 {
	min-width: 945px;
}

div#djslider91 {
	max-width: 945px;
	margin: 15px auto;
}

/* Bottom */

.bottom {
	min-width: 945px;
	background-color: #c1272d;
}

.moduletable_bo1 {
	padding: 10px 0;
	font-family: "Myriad Pro Regular";
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.moduletable_bo1 a {
	color: #fff;
}

.moduletable_bo1 .columns {
	background: url(../images/moduletable_bo1_columns.png) no-repeat;
	background-position: right;
}

.moduletable_bo1 .mail {
	background: none;
}

/* Copyright */

.copyright_wrap {
	min-width: 945px;
	background-color: #c1272d;
}

.copyright {
	font-family: "Myriad Pro Regular";
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.copyright a {
	color: #fff;
}

/* ---------- Joomla ---------- */

.items-leading h2, .item-page h2, .item h2 {
	margin: 0;
	font-size: 42px;
	color: #5d5d5d;
	text-align: center;
}

.items-leading ul, .item-page ul, .item ul {
	margin: 10px 5px;
}

.items-leading li, .item-page li, .item li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
}

.items-leading p, .item-page p, .item p {
	padding: 15px;
}

p.readmore {
	float: right;
	position: relative;
}

/* ---------- Contents ---------- */

/* General */

.s_description {}

.s_description td {
	text-align: center;
}

/* ---------- Components ---------- */

/* VirtueMart */

.virtuemart_search {
	display: none;
}

.orderby-displaynumber {
	display: none;
}

.browse-view h1 {
	margin: 0;
	font-size: 42px;
	color: #5d5d5d;
	text-align: center;
}

.browse-view .row .product .spacer {
	padding: 10px;
}

.browse-view .row .product .product-container {
	margin: 10px;
}

.browse-view .row .product .vm-product-media-container {
	max-width: 180px;
	min-height: 180px;
	margin: auto;
	margin-bottom: 10px;
	background-color: #fff;
}

.browse-view .row .product .vm-product-rating-container {
	display: none;
}

.browse-view .row .product .vm-product-descr-container-0 {
	min-height: auto;
	margin: 0;
}

.browse-view .row .product .vm-product-descr-container-0 h2 {
	margin: 0;
	font-size: 18px;
}

.browse-view .row .product .product-price {
	display: none;
}

.browse-view .row .product .addtocart-area {
	display: none;
}

.browse-view .row .product .vm-details-button {
	display: none;
}

.product-container .back-to-category {
	text-align: right;
	float: none;
}

.product-container h1 {
	margin: 0;
	font-size: 42px;
	color: #5d5d5d;
	text-align: center;
}

.product-container .vm-product-container .vm-product-media-container {
	width: 100%;
	float: none;
}

.product-container .vm-product-container .vm-product-details-container {
	display: none;
}

.product-container .product-description .title {
	display: none;
}

/* ChronoForms */

.chronoform h2 {
	margin: 0;
	font-size: 42px;
	color: #5d5d5d;
	text-align: center;
}

.chronoform .gcore-line-tr {
	margin-top: 10px;
}

.chronoform label {
	min-width: 20%;
	margin: 0 15px;
	float: left;
	position: relative;
}

.chronoform input[type=text],
.chronoform textarea {
	width: 300px;
}

.chronoform #fin-captcha2 {
	margin-left: 230px;
}

.chronoform .button {
	margin: 15px;
	margin-top: 0;
	margin-left: 230px;
	background-color: #c1272d;
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
}

p.chrono_credits a {
	font-size: 0;
}

/* Search */

.search button {
	background-color: #c1272d;
}

/* ---------- Media Queries ---------- */

/* Small screens */

/* Define mobile styles */

@media only screen {}

/* max-width 640px */

@media only screen and (max-width: 40em) {}

/* Medium screens */

/* min-width 641px */

@media only screen and (min-width: 40.063em) {}

/* min-width 641px and max-width 1024px */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Large screens */

/* min-width 1025px */

@media only screen and (min-width: 64.063em) {

	/* ChronoForms */

	.chronoform .image {
		margin-top: -475px;
		float: right;
		position: relative;
	}

	.chronoform .image img {
		width: 400px;
	}

}

/* min-width 1025px and max-width 1440px */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* XLarge screens */

/* min-width 1441px */

@media only screen and (min-width: 90.063em) {}

/* min-width 1441px and max-width 1920px */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* XXLarge screens */

/* min-width 1921px */

@media only screen and (min-width: 120.063em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}